*{
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    font-size: 2vh;
    overflow: hidden;
}

input {
    -webkit-border-radius:0; 
    border-radius:0;
    font-size: 2vh;
}


#cancelButton, #clearButton, #button2, #welcomeButton,#cancelSetting,#askSetting,#applySettings{
    border: none;
    float: left;
    background-color:  #4557BC;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    margin: 5px;
    display:none;
}

span{
    color: #4557BC;
    font-weight: bold;
}

#cancelButton{
    background-color: lightcoral;
}

#button2{
    display:block;
}

#welcomeButton{
    float:right;
    font-size: 12pt;
    width: 30vw;
    height: 6vh;
    display:block;
    background-color: orange;
}

#settingsButton{
    background-color: transparent;
    width: auto;
    height:auto;
    border: none;
    cursor: pointer;
}

#cancelSetting{
    background-color: lightcoral;
    grid-column: 1;
    grid-row: 11;
}

#askSetting{
    display: block;
    grid-column: 1;
    grid-row: 11;
}

#defaultButton{ /*actually does the clearing*/  
    grid-column: 2;
    grid-row: 11 ;
}

#settingIcon{
    margin: .8vh;
    width:4vh;
    height: 4vh;
}

#biggestTotal{
    width: 6vw;
    text-align: center;
    float: right;
}

#bigtotal{
    float: right;
    width: 45%;
}

/* STYLES FOR THE GRID */
#container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 923px;
    margin:auto;
}

#sheetInfo{
    height: 4vh;
    width: 100%;
    background-color: #516BEC;
    color: white;
    padding: 0 1%;
}

#sheetInfo ::placeholder{
    color:white;
}

#content{
    height: 84vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sheetGrid{
    display: grid;
    grid-template-columns: 6vw 6vw 34vw 30vw 12vw 12vw;
    grid-template-rows: 5vh 5vh;
    background-color: white;
    width: 100vw;
    -webkit-appearance: none;
}

#headGrid{
    grid-template-rows: 3vh 3vh;
}

#buttonBox{
    height: 6vh;
    width: 100%;
    background-color: #516BEC;  
      
}
.day{
    grid-column: 1;
    grid-row: 1 / span 2;
    border-right: 1px solid lightgray;
    color: #516BEC;
    font-weight: bold;
    padding: 1.8vh 0;
    text-align: center;
    height: 100%;
    -webkit-appearance: none;
}

#biggestTotal{
    background-color: #516BEC;
    float: right;
    border: none; 
    color: white;
    margin: 1.75vh 5px 0 0;
    border-bottom: 1px solid white;
    -webkit-appearance: none;
}

.off0{
    grid-column: 2;
    grid-row: 1 / span 2;
    border: none;
    margin: auto;
    width:auto;    
}

.toggleContainer{
    position: relative;
    width: 2vh;
    height: 2vh;
    margin: 2vh .5vh;
    cursor: pointer;
    z-index: 2;
    background-color: transparent;
}

.toggleOff{
    position: absolute;
    width: 2vh;
    height: 2vh;
    border: 2px solid grey;
    cursor: pointer;
    z-index: 2;
    background-color: transparent;
}

.element1{
    position: absolute;
    width: 2.2vh;
    height: 2px;
    top: 0;
    z-index: 1;
    background-color: white;
    transform-origin: top left;
    transform: rotate(45deg) translate(2px, -1px);
}

.element2{
    position: absolute;
    width: 2.2vh;
    height: 2px;
    top: 0;
    z-index: 1;
    background-color: white;
    transform-origin: top right;
    transform: rotate(-45deg) translate(-3px, -2px);
}

.element1:nth-child(odd){
    background-color:#DCECF7;
}
.element2:nth-child(even){
    background-color:#DCECF7;
}

.off{
    grid-column: 2;
    grid-row: 1 / span 2;
    border: none;
    margin: auto;
    width:auto; 
    display:none;   
}


.date{
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    border: none;
    -webkit-appearance: none;
    padding-left: 2vw;
}

.location{
    grid-column: 3;
    grid-row: 2;
    height: 100%;
    border: none;
    padding-left: 2vw;
    -webkit-appearance: none;
}

#welcome{
    display: none;
    width: 86vw; 
    max-width: 800px;
    height: 94vh; 
    background-color: white;
    position:absolute; 
    border-radius: 5px;
    z-index: 15;
    margin: 3vh 7vw;
    font-size: 2.6vh;
    box-shadow: 4px 4px 20px rgba(0,0,0,.6);
    transition-duration: .5s;
}

#settingsDiv{
    position: relative;
    display: none;
    grid-template-columns: 40% 60%;
    grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
    width: 86vw; 
    max-width: 800px;
    height: 56vh; 
    background-color: white;
    position:absolute; 
    border-radius: 5px;
    z-index: 15;
    margin: 3vh 7vw;
    font-size: 2.6vh;
    transform: translateY(-61vh);
    box-shadow: 4px 4px 20px rgba(0,0,0,.6);
    transition-duration: .5s;
}

#settingTitle{
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
    color: #516BEC;
    font-weight: bold;
    transform: translateY(-1vh);
}

#locationSetting{
    grid-row:3;
    grid-column: 2;
    text-align: center;
    border: none;
    border-bottom: solid 1px grey;
    -webkit-appearance: none;
    margin: 0 10px;
}

#startSetting{
    grid-row:5;
    grid-column: 2;
    text-align: center;
    border: none;
    border-bottom: solid 1px grey;
    -webkit-appearance: none;
    margin: 0 10px;
}

#endSetting{
    grid-row:7;
    grid-column: 2;
    border: none;
    text-align: center;
    border-bottom: solid 1px grey;
    -webkit-appearance: none;
    margin: 0 10px;
}

#lunchSetting{
    grid-row:9;
    grid-column: 2;
    text-align: center;
    border: none;
    border-bottom: solid 1px grey;
    -webkit-appearance: none;
    margin: 0 10px;
}

input[type="checkbox"]{
    width: 2.5vh;
    height: 2.5vh;
    margin: 1vh auto;
}

#offS1{
    grid-row:3;
    grid-column: 1;
}
#offS2{
    grid-row:4;
    grid-column: 1;
}
#offS3{
    grid-row:5;
    grid-column: 1;
}
#offS4{
    grid-row:6;
    grid-column: 1;
}
#offS5{
    grid-row:7;
    grid-column: 1; 
}
#offS6{
    grid-row:8;
    grid-column: 1; 
}
#offS0{
    grid-row:9;
    grid-column: 1;
}

.settingLabel{
    width: auto;
    position: relative;
    color: #516BEC;
    font-weight: bold;
    padding: .9vh 0 0 0;
    right: 26%;
    text-align: right;
}

.pointy{
    z-index: -1;
    background-color:white;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    transition-duration: .7s;
}

#settingsPointy{
    background-color: white;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 29%;
    bottom: .5vh;
    z-index: -1;
    transition-duration: .7s;
}

h2,h3{
    text-align: center;
    color: white;
    background-color: #4557BC;
    width: 100%;
    padding: 10px;
    box-shadow:  0 3px 10px rgba(0,0,0,.6);
    z-index: 2;
}

.para{
    width: 78vw;
    margin: 3vh auto;
}

#paraish{
    display:none;
    width: 78vw;
    margin: 3vh auto;
}

#blackout{
    display: none;
    transition-duration: .3s;
    position: absolute;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100vh;
    z-index: 14;
    max-width: 923px;
}

.start{
    grid-column: 4;
    grid-row: 1;
    text-indent: 14px;
    border: none;
    -webkit-appearance: none;
}


.startIcon{
    grid-column: 4;
    grid-row: 1;
    z-index: 12;
    height: 2vh;
    width: auto;
    margin: 1.5vh .4vh;

}

.end{
    grid-column: 4;
    grid-row: 2;
    text-indent: 14px;
    border: none;
    -webkit-appearance: none;
}

.endIcon{
    grid-column: 4;
    grid-row: 2;
    z-index: 12;
    height: 2vh;
    width: auto;
    margin: 1.5vh .4vh;
}

.lunch{
    grid-column: 5;
    grid-row: 1 / span 2;
    padding: 5px;
    border: none;
    -webkit-appearance: none;
}

.total{
    grid-column: 6;
    grid-row: 1 / span 2;
    padding: 7px;
    border: none;
    -webkit-appearance: none;
}
/* STYLES FOR THE INPUTS */
#date0, #date15{
    background-color: #516BEC;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 32%;
    height: 1.6em;
    -webkit-appearance: none;
}

#employeeName{
    background-color: #516BEC;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 28%;
    height: 1.6em;
    -webkit-appearance: none;
}


@media only screen and (min-width: 533px){
    input{
        font-size: 2.8vh;
    }

    body{
        font-size: 2.1vh
    }
    
    .startIcon{
        transform: translateX(2.2vw) translateY(2.1 vh);
    }

    .sheetGrid{
        grid-template-columns: 6vw 6vw 28vw 20vw 20vw 10vw 10vw;
    } 

    .lunch{
        grid-column: 6;
        grid-row: 1 / span 2;
    }
    
    .total{
        grid-column: 7;
        grid-row: 1 / span 2;
    }

    .start{
        grid-column: 4;
        grid-row: 1 / span 2;
    }
    
    .end{
        grid-column: 5;
        grid-row: 1 / span2;

    }
    
    .startIcon{
        grid-column: 4;
        grid-row: 1;
        margin: 2vh .4vh;
    }

    .endIcon{
        grid-column: 5;
        grid-row: 1;
        margin: 2vh .4vh;
    }
}

@media only screen and (min-width: 919px){
    .sheetGrid{
        grid-template-columns: 55px 55px 127px 130px 184px 184px 94px 94px;
    } 

    input[type=date]{
        padding: 0;
    }

    .date{
        grid-column: 3;
        grid-row: 1 / span 2;
    }

    .location{
        grid-column: 4;
        grid-row: 1 / span 2;
    }

    .lunch{
        grid-column: 7;
        grid-row: 1 / span 2;
    }
    
    .total{
        grid-column: 8;
        grid-row: 1 / span 2;
    }

    .start{
        grid-column: 5;
        grid-row: 1 / span 2;
    }
    
    .end{
        grid-column: 6;
        grid-row: 1 / span2;

    }

    .startIcon{
        grid-column: 5;
        grid-row: 1;
        margin: 2vh .4vh;
    }

    .endIcon{
        grid-column: 6;
        grid-row: 1;
        margin: 2vh .4vh;
    }
}

