*{
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    font-size: 10pt;
    overflow: hidden;
}

input {
    -webkit-border-radius:0; 
    border-radius:0;
}


#cancelButton, #clearButton, #button2{
    border: none;
    float: left;
    background-color:  #4557BC;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 2px;
    margin: 5px;
    display:none;
}

#cancelButton{
    background-color: lightcoral;
}

#button2{
    display:block;
}

#biggestTotal{
    width: 6vw;
    text-align: center;
}

/* STYLES FOR THE GRID */
#container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#sheetInfo{
    height: 4vh;
    width: 100%;
    background-color: #516BEC;
    color: white;
    padding: 0 1%;
}

#sheetInfo ::placeholder{
    color:white;
}

.sheetGrid{
    display: grid;
    grid-template-columns: 6vw 6vw 34vw 34vw 10vw 10vw;
    grid-template-rows: 3vh 3vh;
    background-color: white;
    width: 100vw;
    -webkit-appearance: none;
}

#buttonBox{
    height: 6vh;
    width: 100%;
    background-color: #516BEC;  
      
}
.day{
    grid-column: 1;
    grid-row: 1 / span 2;
    border-right: 1px solid lightgray;
    color: #516BEC;
    font-weight: bold;
    padding: 1.8vh 0;
    text-align: center;
    height: 100%;
    -webkit-appearance: none;
}

#biggestTotal{
    background-color: #516BEC;
    float: right;
    border: none; 
    color: white;
    margin: 1.75vh 5px 0 0;
    border-bottom: 1px solid white;
    -webkit-appearance: none;
}

.off0{
    grid-column: 2;
    grid-row: 1 / span 2;
    border: none;
    margin: auto;
    width:auto;    
}

.toggleContainer{
    position: relative;
    width: 2vh;
    height: 2vh;
    margin: 2vh .5vh;
    cursor: pointer;
    z-index: 15;
    background-color: transparent;
}

.toggleOff{
    position: absolute;
    width: 2vh;
    height: 2vh;
    border: 2px solid grey;
    cursor: pointer;
    z-index: 15;
    background-color: transparent;
}

.element1{
    position: absolute;
    width: 2.2vh;
    height: 2px;
    top: 0;
    z-index: 2;
    background-color: white;
    transform-origin: top left;
    transform: rotate(45deg) translate(2px, -1px);
}

.element2{
    position: absolute;
    width: 2.2vh;
    height: 2px;
    top: 0;
    z-index: 2;
    background-color: white;
    transform-origin: top right;
    transform: rotate(-45deg) translate(-3px, -2px);
}

.element1:nth-child(odd){
    background-color:#DCECF7;
}
.element2:nth-child(even){
    background-color:#DCECF7;
}

.off{
    grid-column: 2;
    grid-row: 1 / span 2;
    border: none;
    margin: auto;
    width:auto; 
    display:none;   
}


.date{
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    border: none;
    -webkit-appearance: none;
    padding-left: 2vw;
}

.location{
    grid-column: 3;
    grid-row: 2;
    height: 100%;
    border: none;
    padding-left: 2vw;
    -webkit-appearance: none;
}

.start{
    grid-column: 4;
    grid-row: 1;
    text-indent: 14px;
    border: none;
    -webkit-appearance: none;
}


#startIcon{
    grid-column: 4;
    grid-row: 1;
    z-index: 12;
    height: 8vh;
    width: auto;
    margin: .4vh;
    -webkit-appearance: none;
}

.end{
    grid-column: 4;
    grid-row: 2;
    text-indent: 14px;
    border: none;
    -webkit-appearance: none;
}

#endIcon{
    grid-column: 4;
    grid-row: 2;
    z-index: 12;
    height: 8vh;
    width: auto;
    margin: .4vh;
    -webkit-appearance: none;
}

.lunch{
    grid-column: 5;
    grid-row: 1 / span 2;
    padding: 5px;
    border: none;
    -webkit-appearance: none;
}

.total{
    grid-column: 6;
    grid-row: 1 / span 2;
    padding: 7px;
    border: none;
    -webkit-appearance: none;
}
/* STYLES FOR THE INPUTS */
#date0, #date15{
    background-color: #516BEC;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 32%;
    height: 1.6em;
    -webkit-appearance: none;
}

#employeeName{
    background-color: #516BEC;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 28%;
    height: 1.6em;
    -webkit-appearance: none;
}

